<div class="container">
    <div class="header-container">
        <div class="left-container">
            <span>
                <i class="fa fa-ambulance fa-2x" aria-hidden="true"> </i>
            </span>VOICE OF CANCER PATIENTS</div>

        <div class="nav-container">
            <a href="#">SEARCH</a>
            <a href="#">COMMUNITY</a>
            <a href="#">ARTICLE</a>
        </div>
        <div>Sign In | Sign Up</div>
    </div>
    <div class="middle-container">
        <div class="text">
            Select a cancer type to begin
        </div>
        <div class="box-container">
            <div class="box-row">
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Bladder Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Bone Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Brain Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Breast Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Cervical Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Lymphoma Cancer</div>
            </div>

            <div class="box-row">
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Esophygas Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Kidney Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Head & neck Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Heart Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Ovarian Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Colorectal Cancer</div>
            </div>
            <div class="box-row">
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Oral Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Liver Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Heart Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Lung Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Pancreatic Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Prostate Cancer</div>
            </div>
            <div class="box-row">
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Lukemia Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Skin Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Thyroid Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Uterine Corpus Cancer</div>
                <div class="cstm-btn"><span>
                        <i class="fa fa-medkit" aria-hidden="true"> </i>
                    </span>Ovarian Cancer</div>

            </div>

        </div>
    </div>
</div>