
.container{
    height: 100%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    color: white;
    .left-container{
        width: 186px;
        display: flex;
        align-items: flex-end;
        span{
            margin-right: 10px;
        }
    }
    .nav-container{
       a{
        color: gray ;
        padding: 0px 10px 10px;
        text-decoration: none;
       }
        a:active, a:focus, a:hover {
        color: white;
        border-bottom: 2px solid white;
       }
    }
}

.middle-container{
    margin-top: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .text{
        font-size: 24px;
        margin-bottom: 20px;
    }
    .box-container{
        background-color: #80808087;
        padding: 20px;
        width: 900px;
        .box-row{
            display: flex;
            justify-content: space-between;
            padding-bottom: 10px;
            text-align: center;
            .cstm-btn{
                flex: 0 0 16%;
                color: black;
                background-color: white;
                padding: 5px 0px;
                border-radius: 2px;
                font-size: 14px;
                span{
                    margin-right: 5px;
                }

                &:hover{
                    background-color: rgb(212, 14, 212);
                    cursor: pointer;
                    color: white;
                }
            }

        }
        .box-row:last-child{
            padding: 0px 50px;
            .cstm-btn{
                flex: 0 0 19%;
            }
        }
    }
}

@media (max-width: 700px) {
    .middle-container{
        .box-container{
        width: 400px;
    }
}
}